.header {
    grid-area: hh;
    background-color: white;
    color: white;
    font-style: italic;
    display: grid;
    grid-template-columns: 2fr 10fr;

  }
  .header img{
    width: 60px;
    height: 40px;
  }

  .item{
      font-family: airfool;
      color:#7ae6e9;
      text-decoration: none;
      margin: 100;
      font-style: normal;
      margin-right: 10px;
  }
.item2{
    font-family: airfool;
    color:#94cb4c;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}
.item3{
    font-family: airfool;
    color:#eed847;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}
.item4{
    font-family: airfool;
    color:#f71289;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}
.item5{
    font-family: airfool;
    color:#a13c9c;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}
.item6{
    font-family: airfool;
    color:#11aa69;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}
.item6{
    font-family: airfool;
    color:#11aa69;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}
.item7{
font-family: airfool;
    color: #46c6f7;
    text-decoration: none;
    margin: 100;
    font-style: normal;
    margin-right: 10px;
}


  .activeLink{
    color:goldenrod;
  }

  .hello
  {
      margin: 0 auto;
  }

  @font-face {
      font-family: 'airfool';
      src: local('MyFont'), url('../../assets/fonts/Airfool.otf') format('woff');
  }
