.profile{
    font-family: airfool;
    font-size: large;
      grid-area: n;
          background-color:#7ae6e9;
    color: white;
    padding: 20px;
    }

    .item{
        color:red;
    }
    .item img{
      width: 150px;
      border-radius: 15px;

    }
    .settings
    {
        width: 20px;
    }
@font-face {
    font-family: 'airfool';
    src: local('MyFont'), url('../../assets/fonts/Airfool.otf') format('woff');
}