

  .item{
    color: orangered;
    background-color: white;
    padding: 10px;
    margin-top: auto;

  }

  .item img{
    width: 150px;
  }
  .selectedPage
  {
    font-weight: bold;
  }
  .userItem
  {
    display: grid;
    grid-template-columns: 2fr 10fr;
  }

  .user{
    color: orangered;
    font-family: airfool;
    text-decoration: none;

  }