.App{

  background-color:#7ae6e9;
  display: grid;
  width: auto;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "hh hh"
  "n c"
  "f f";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 0px;
}

.app-wrapper-content{

}







